body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #1a1a1a;
    color: #e0e0e0;
    background-image: url("cambg.jpg");
    background-repeat: no-repeat;       
    background-size: cover;            
    background-position: center;           
    background-color: rgba(31, 31, 31, 0.953);
    background-blend-mode: overlay; 
}

header {
    color: #d43f3f; 
    text-align: center;
    padding: 15px;
    letter-spacing: 2px;
    border-bottom: 3px solid #d43f3f;
}


nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 10px;
}

nav a {
    color: #540404;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
}

.main-row {
    display: flex;
    flex-direction: row;
}

main {
    width: 75%;
    padding: 20px;
    flex: 1;
}

.sidebar {
    width: 25%;
    background-color: #1e1e1e;
    padding: 20px;
    border-left: 4px solid #d43f3f;
}

.profile-pic {
    width: 100%;
    border: 2px solid #d43f3f;
    border-radius: 5px;
    margin: 0px;
}

.sidebar figcaption {
    font-size: 15px;
    color: #bfbfbf;
    text-align: center;
    margin-bottom: 10px;
}


.schedule {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
    background-color: #222;
}

.schedule caption {
    font-weight: bold;
    color: #d43f3f;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.schedule th, .schedule td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.schedule thead {
    background-color: #333;
    color: #fff;
}

.schedule tbody tr:nth-child(even) {
    background-color: #2a2a2a;
}

.schedule tbody tr:nth-child(odd) {
    background-color: #1f1f1f;
}

.schedule tfoot {
    background-color: #d43f3f;
    color: #fff;
}

footer {
    background-color: #121212;
    color: #d43f3f;
    text-align: center;
    padding: 10px;
    border-top: 3px solid #d43f3f;
}
