body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #002a5c;
}

header {
    background-color: #002a5c;
    color: white;
    text-align: center;
    padding: 15px;
}


main {
    padding: 10px auto;
    max-width: 700px;
    margin: auto;
}


fieldset {
    border: 2px solid #002a5c;
    border-radius: 6px;
    padding: 15px;
}

legend {
    color: #d64123;
    font-weight: bold;
}


.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 180px;
    font-weight: bold;
}

input, select, textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #002a5c;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #002a5c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d64123;
}

.checkbox-row label {
    width: auto;
}

footer {
    background-color: #d64123;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


@media only screen and (max-width: 600px) {
    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        width: 100%;
        margin-bottom: 5px;
    }

    input[type="submit"] {
        width: 100%;
        font-size: 15px;
    }
}
