body {
    font-family: Arial, Helvetica, sans-serif;
}

.schedule {
    border-spacing: 0;
    border-collapse: collapse;

    /* border: 10px outset black;
    border-spacing: 2px;
    /* margin: 10px; */
    /* border-collapse: separate;
    caption-side: top;
    width: 100%;
    margin: auto;
    background-color: rgb(122, 211, 181);
    overflow: scroll; */ 
}

.schedule thead tr {
    background-color: blanchedalmond;
    color: rgb(114, 52, 52);
}

.schedule tfoot tr {
    background-color: aqua;
}

/* Fixed typo: “schdule” → “schedule” */
.schedule tbody tr:nth-child(even) {
    background-color: blue;
}

.schedule th, .schedule td {
    /* border: 5px solid black;
    /* padding: 5px;
    height: 30px;
    width: 10px;
    margin: 10px; */
    /* background-color: rgb(224, 234, 231);  */
}

/* .grayed {
    background-color: azure; */


.num {
    vertical-align: middle;
}
