
body {
    font-family:'Courier New', Courier, monospace;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 15px;
}

.child {
    background-color: aquamarine;
}

#wrapper {
    display: grid;
    grid-template-areas: 
        "header header header"
        "left main right"
        "footer footer footer";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}